* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: Arial, sans-serif;
  background: #e6edf7;
}

/* LAYOUT */
.side {
  height: 100vh;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* TEKST */
h1 {
  font-size: 48px;
  margin: 0;
}

h2 {
  font-size: 28px;
  margin-top: 10px;
}

/* QR */
.qr-boks {
  display: flex;
  align-items: center;
  gap: 15px;
  background: white;
  padding: 15px;
  border-radius: 20px;
  border: 2px solid #1c2b59;
}

.qr-boks img {
  width: 110px;
}

.qr-tekst h3 {
  margin: 0;
  font-size: 18px;
}

.qr-tekst p {
  margin: 5px 0 0;
  font-size: 14px;
}

/* GRID */
.aktiviteter {
  flex: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: stretch;
}

/* KORT */
.kort {
  background: white;
  border-radius: 28px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 2px solid #1c2b59;
  border-left: 10px solid #1c2b59;
}

/* INDHOLD */
.aktivitet-kort {
  display: flex;
  flex-direction: column;
}

.aktivitet-info {
  flex: none;
}

.linje {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

h3 {
  font-size: 22px;
  margin: 0;
}

.label {
  background: #1c2b59;
  color: white;
  padding: 10px 16px;
  border-radius: 18px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-width: 110px; /* 🔥 giver plads til længere ord */
  text-align: center;

  font-size: 15px;
  font-weight: 700;
  line-height: 1.2;
}

.dato {
  font-size: 13px;
  font-weight: 500;
  opacity: 0.9;
  margin-top: 2px;
}

.detaljer {
  margin: 14px 0;
  font-size: 18px;
  font-weight: 600;
}

.badges {
  display: flex;
  gap: 10px;
  margin-bottom: 14px;
  flex-wrap: wrap;
}

.badge {
  background: #e9efe4;
  padding: 8px 14px;
  border-radius: 999px;
  font-size: 15px;
  font-weight: 700;
  border: 2px solid #8ca56c;
}

p {
  font-size: 16px;
  margin: 10px 0;
}

.deltagere {
  display: flex;
  gap: 8px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.voksen, .barn {
   width: 48px;
  height: 48px;
  font-size: 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
  object-fit: cover;
}

.voksen {
  background: #1c2b59;
  border: 2px solid #091539;
}

.barn {
  background: #88AE55;
  border: 2px solid #52702b;
}

.antal {
  margin-top: 10px;
  font-size: 17px;
  font-weight: 600;
}

/* BILLEDE */
.aktivitet-billede {
  height: 280px;
  margin-top: auto;
  margin-bottom: 5px;
}

.aktivitet-billede img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 18px;
}